
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oooh+Baby&display=swap');

:root{
    --cor-V: rgb(199, 3, 3);
    --cor-C: gray
    --font:"Oooh Baby", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('img/papel-amassado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

h1{
    font-family: "Oooh Baby", cursive;
    color: var(--cor-V);
    padding: 20px;
    margin: 20px;
}

p{
    color: var(--cor-C);
    padding: 20px;
}

img{
    width: 180px;
    height: 180px;
}

a{
    font-family: "Oooh Baby", cursive;;
    font-weight: bolder;
    border-radius: 20px;
    margin: 10px;
    border-color: var(--cor-V);
    border-style: inset;
    border-width: 3px;
    padding: 8px 32px;
    margin-top: 20px;
}

hr{
    margin: 30px 0px;
}
